@import '../../../assets/style/vars.scss';

.wrapper {
  cursor: pointer;
  background-color: #ebf0fa;
  border: none;
  text-align: center;
  font-family: $text;
  font-size: $text-size;
  color: #272b33;
  width: 100%;
  min-width: 100px;
  height: 50px;
  margin-top: 40px;
}
