@import '../../../assets/style/vars.scss';

.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 400px;
  align-items: center;
  background-color: rgba($sub-color, 0.6);
  box-shadow: 0 0 0 $sub-color;
  border-radius: 16px;
  padding: 40px 30px;

  &__title {
    padding-bottom: 50px;
    font-size: 32px;
  }
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
}
