@import '../../../../assets/style/vars.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
  width: 100%;

  & > span {
    font-family: $text;
    font-size: $text-size;
  }

  & > input {
    font-size: $title-size;
  }
}
