.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .name_wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
} */
